In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
ROOT_DIR = '/content/drive/My Drive/Recommendation Systems/movielens/'
DATA_DIR = '/content/drive/My Drive/Recommendation Systems/movielens/data/'

In [0]:
import pandas as pd
import numpy as np

In [0]:
#Load the u.data file into a dataframe
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(DATA_DIR+'u.data', sep='\t', names=r_cols,encoding='latin-1')
ratings.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [0]:
#Drop the timestamp column
ratings = ratings.drop('timestamp', axis=1)

In [0]:
from sklearn.model_selection import train_test_split

X = ratings.copy()
y= ratings['user_id']

#Split into training and test datasets, stratified along user_id
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25,stratify=y, random_state=42)

In [0]:
#Import the mean_squared_error function
from sklearn.metrics import mean_squared_error
#Function that computes the root mean squared error (or RMSE)
def rmse(y_true, y_pred):
  return np.sqrt(mean_squared_error(y_true, y_pred))

In [0]:
def baseline(user_id,movie_id):
  return 3.0

In [0]:
def score(cf_model):
  id_pairs = zip(X_test['user_id'],X_test['movie_id'])
  y_pred = np.array([cf_model(user,movie) for (user,movie) in id_pairs])
  y_true = np.array(X_test['rating'])
  return rmse(y_true,y_pred)

## **User based Collaborative filtering using Mean ratings**

In [0]:
r_matrix = X_train.pivot_table(values='rating',index='user_id',columns='movie_id')

In [0]:
r_matrix.head()

movie_id  1     2     3     4     5     ...  1675  1676  1679  1681  1682
user_id                                 ...
1          5.0   3.0   4.0   3.0   3.0  ...   NaN   NaN   NaN   NaN   NaN
2          NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
3          NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
4          NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
5          NaN   3.0   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN

[5 rows x 1647 columns]

In [0]:
def cf_user_mean_model(user_id,movie_id):
  if movie_id in r_matrix:
    mean_rating = r_matrix[movie_id].mean()
  else:
    mean_rating = 3.0
  return mean_rating

In [0]:
score(cf_user_mean_model)

1.0234701463131335

We see that the score obtained for this model is lower and therefore better than the baseline.

## **User based Collaborative filtering using Weighted mean ratings**

In [0]:
#Create a dummy ratings matrix with all null values imputed to 0
r_matrix_dummy = r_matrix.copy().fillna(0)
# Import cosine_score
from sklearn.metrics.pairwise import cosine_similarity
#Compute the cosine similarity matrix using the dummy ratings matrix
cosine_sim = cosine_similarity(r_matrix_dummy, r_matrix_dummy)
#Convert into pandas dataframe
cosine_sim = pd.DataFrame(cosine_sim, index=r_matrix.index,columns=r_matrix.index)

In [0]:
cosine_sim.head(10)

user_id       1         2         3    ...       941       942       943
user_id                                ...
1        1.000000  0.118076  0.029097  ...  0.056765  0.103536  0.326491
2        0.118076  1.000000  0.099097  ...  0.106748  0.136796  0.080358
3        0.029097  0.099097  1.000000  ...  0.109631  0.092574  0.018987
4        0.011628  0.107680  0.252131  ...  0.142798  0.097066  0.015176
5        0.264677  0.034279  0.026893  ...  0.115842  0.124297  0.267574
6        0.312419  0.152789  0.062539  ...  0.097606  0.206104  0.187637
7        0.308729  0.086705  0.039767  ...  0.039199  0.224227  0.296332
8        0.224269  0.078864  0.089474  ...  0.121223  0.083910  0.273238
9        0.026017  0.068940  0.078162  ...  0.055766  0.070065  0.088281
10       0.286411  0.092399  0.037670  ...  0.085402  0.118945  0.162538

[10 rows x 943 columns]

In [0]:
def cf_user_w_mean_model(user_id,movie_id):
  if movie_id in r_matrix:
    sim_scores = cosine_sim[user_id]
    #Get the user ratings for the movie in the question
    m_ratings = r_matrix[movie_id]
    #Extract the indices containing NaN in the m_ratings series
    idx = m_ratings[m_ratings.isnull()].index
    #Drop the NaN values from the m_ratings series
    m_ratings =  m_ratings.dropna()
    #Drop the corresponding cosine scores from sim_scores 
    sim_scores = sim_scores.drop(idx)
    #Compute the final weighted mean
    wmean_rating = np.dot(sim_scores, m_ratings)/ sim_scores.sum()
  else:
    wmean_rating = 3.0
  return wmean_rating

In [0]:
score(cf_user_w_mean_model)

1.0174483808407588

There is no significant improvement compared to previos model

## **User demographics**

In [0]:
#Load the u.user file into dataframe
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']

users = pd.read_csv(DATA_DIR+'u.user',sep='|',names=u_cols,encoding='latin-1')

In [0]:
#Merge the original users dataframe with the training set
merged_df = pd.merge(X_train, users)
merged_df.head()

   user_id  movie_id  rating  age sex  occupation zip_code
0      889       684       2   24   M  technician    78704
1      889       279       2   24   M  technician    78704
2      889        29       3   24   M  technician    78704
3      889       190       3   24   M  technician    78704
4      889       232       3   24   M  technician    78704

In [0]:
#Compute the mean rating of every movie by gender
gender_mean = merged_df[['movie_id', 'sex', 'rating']].groupby(['movie_id',
'sex']) ['rating'].mean()

In [0]:
gender_mean.head()

movie_id  sex
1         F      3.827586
          M      3.918919
2         F      3.230769
          M      3.228916
3         F      2.785714
Name: rating, dtype: float64

In [0]:
#Set the index of the users dataframe to the user_id
users = users.set_index('user_id')

In [0]:
users.head()

         age sex  occupation zip_code
user_id
1         24   M  technician    85711
2         53   F       other    94043
3         23   M      writer    32067
4         24   M  technician    43537
5         33   F       other    15213

In [0]:
def cf_gender(user_id,movie_id):
  if movie_id in r_matrix:
    gender = users.loc[user_id]['sex']
    if gender in gender_mean[movie_id]:
      gender_rating = gender_mean[movie_id][gender]
    else:
      gender_rating = 3.0
  else:
    gender_rating = 3.0
  return gender_rating

In [0]:
score(cf_gender)

1.0330308800874282

Let's try building one more demographic filter, but this time using both gender and
occupation:

In [0]:
#Compute the mean rating by gender and occupation
gen_occ_mean = merged_df[['sex', 'rating', 'movie_id','occupation']].pivot_table(values='rating', index='movie_id', columns=['occupation', 'sex'],aggfunc='mean')

In [0]:
gen_occ_mean.head()

occupation administrator           artist  ... technician    writer
sex                    F         M      F  ...          M         F         M
movie_id                                   ...
1                    4.0  4.222222   4.25  ...   4.200000  4.166667  3.142857
2                    3.0  3.750000    NaN  ...   2.714286  5.000000  2.666667
3                    3.5  2.500000    NaN  ...   4.000000       NaN  1.000000
4                    3.0  3.888889    NaN  ...   3.200000  4.250000  3.500000
5                    4.0  2.333333    NaN  ...   3.333333  4.000000  2.666667

[5 rows x 41 columns]

In [0]:
#Gender and Occupation Based Collaborative Filter using Mean Ratings
def cf_gen_occ(user_id, movie_id):
  #Check if movie_id exists in gen_occ_mean
  if movie_id in gen_occ_mean.index:
    #Identify the user
    user = users.loc[user_id]
    #Identify the gender and occupation
    gender = user['sex']
    occ = user['occupation']
    #Check if the occupation has rated the movie
    if occ in gen_occ_mean.loc[movie_id]:
      #Check if the gender has rated the movie
        if gender in gen_occ_mean.loc[movie_id][occ]:
        #Extract the required rating
          rating = gen_occ_mean.loc[movie_id][occ][gender]
          #Default to 3.0 if the rating is null
          if np.isnan(rating):
            rating = 3.0
          return rating
  #Return the default rating
  return 3.0

ERROR! Session/line number was not unique in database. History logging moved to new session 59

In [0]:
score(cf_gen_occ)

1.1391976012043645